header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

input{
    width: 243px;
    height: 40px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}
.Wrap{
    display: flex;
    align-items: center;
}